# Build artifacts
walls-app/node_modules/
walls-app/android/.gradle/
walls-app/android/build/
walls-app/android/app/build/
walls-app/android/capacitor-cordova-android-plugins/build/
walls-app/android/local.properties
